{% load i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
<meta charset="utf-8" />
<title>{% block title %}{% trans "Page title" %}{% endblock %}</title>
{% block head %}
{% endblock %}
</head>

<body id="{{ site.domain }}">
<div id="page">

<header>
{% block header %}
<h1><a href="/" title="{% trans "Back to home" %}" accesskey="1" rel="home">{% block header_title %}{{ site.name }}{% endblock %}</a></h1>
{% endblock %}
</header>

<nav id="navbar">
{% block navbar %}
<ul>
    <li><a href="/" title="{% trans "Back to home" %}">{{ site.name }}</a></li>
</ul>
{% endblock %}
</nav>

<article>
{% block content %}
<p>{% trans "There is nothing here for the moment. See you soon." %}</p>
{% endblock %}
</article>

<div id="infos">
{% block infos %}
{% endblock %}
</div>

<footer>
{% block footer %}
<p>{% blocktrans %}
This site swing thanks to <a href="http://www.djangoproject.com/"
hreflang="en" title="The Django framework">Django</a>! It run an unmodified
version of <a href="https://framagit.org/flobiree/rstwiki">rstwiki
</a>, which is released under the terms of the <a
href="http://www.gnu.org/licenses/agpl.html"><acronym title="GNU's Not Unix">
GNU</acronym> Affero General Public License</a>.
{% endblocktrans %}</p>
{% endblock %}
</footer>

</body>
</html>
