{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page.title }} - {{ site.name }}{% endblock %}

{% block head %}{{ head.html_content|safe }}{% endblock %}

{% block header_title %}
{% if not site.just_site_name %}{{ page.title }} - {% endif %}{{ site.name }}
{% endblock %}

{% if navbar %}
    {% block navbar %}{{ navbar.html_content|safe }}{% endblock %}
{% endif %}

{% block content %}{{ page.html_content|safe }}{% endblock %}

{% block infos %}
<ul>
	{% if page.mtime %}
		<li>{% trans "Last change on" %} {{ page.mtime }}</li>
	{% endif %}
</ul>
{% endblock %}

{% if footer %}
    {% block footer %}{{ footer.html_content|safe }}{% endblock %}
{% endif %}
